#logoimg{
    height:100%;
}

#logoimgdiv{
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
}

#navbar{
    background-color: #7f6154;
    
}

#navitem:hover{
    background-color: #5e483f;
}

#navitem{
    font-family:"Bodoni Moda SC" ;
    color: white;
}

#carouselExample{
    width: 60vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    top: -100%;
}

#film{
    z-index: 20;
    position: relative;
    height: 40vw; 
    top: .3vw;
    left: 10vw;
}

#film2{
    z-index: 20;
    position: relative;
    float: right;
    height: 40vw;
    top: .3vw;
    right: 10vw;
}

.carouseldiv{
    margin-left: auto;
    margin-right: auto;
    display: block;
    justify-content: center;
    position:relative;
    top:-41vw;
}